/* Default styles (for large screens or desktops) */
.service-title {
  font-family: "Jockey One", sans-serif;
  font-size: 65px;
  font-weight: 400;
  text-align: center;
  margin: 30px;
  color: #00b3ff;
}

.boxes-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 50px;
  column-gap: 0px;
  justify-items: center;
  margin: 50px auto;
  max-width: 1300px;
}
.service-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 440px;
  height: 356px;
  border-radius: 15px;
  border-width: 1px 8px 8px 1px;
  border-style: solid;
  gap: 20px;
}

.box-title {
  font-family: "Jockey One", sans-serif;
  font-size: 45px;
  font-weight: 400;
  text-align: center;
}

.testimonial-box {
  margin: 50px auto;
  max-width: 1300px;
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
}

.customer-feedback {
  width: 440px;

  font-family: "Jockey One", sans-serif;
  font-size: 25px;
  font-weight: 400;
  border-radius: 15px;
  text-align: center;
  border: 10px solid rgb(176, 176, 176);
  padding: 20px 50px 50px 20px;
}
.customer-img {
  width: 40%;
  border-radius: 50%;
}

.sub-title {
  font-family: "Jockey One";
  font-weight: 400;
  color: black;
  text-align: center;
}
.q-a {
  display: flex;

  flex-direction: column;
}

.faq {
  margin-bottom: 30px;
}

/* Small Mobile Phones */

/* Mobile Phones */
@media only screen and (max-width: 480px) {
  /* Additional styles for mobile phones */
  .service-box {
    width: 200px;
    height: 196px;
    border-radius: 9px;
    gap: 9px;
    border-width: 1px 5px 5px 1px;
  }

  .boxes-section {
    max-width: 80%;
    margin: 20px auto;
    gap: 15px;
    grid-template-columns: 1fr;
  }
  .service-title {
    font-size: 30px;
    margin: 0px;
  }
  .box-title {
    font-size: 20px;
  }
  .box-image {
    width: 95%;
  }
  .customer-feedback {
    width: 220px;
    font-size: 15px;
    border-radius: 10px;
    border: 8px solid rgb(176, 176, 176);
    padding: 12px 20px 20px 12px;
  }
  .testimonial-box {
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }
  .customer-img {
    width: 40%;
    text-align: left;
  }
  .faq {
    margin-top: 20px;
  }
}

@media (max-width: 320px) {
  /* Additional styles for small mobile phones */
  .service-box {
    max-width: 150px;
    height: 146px;
    border-radius: 9px;
    gap: 9px;
    border-width: 1px 5px 5px 1px;
  }

  .boxes-section {
    max-width: 80%;
    margin: 20px auto;
    gap: 15px;
    grid-template-columns: 1fr;
  }
  .service-title {
    font-size: 25px;
    margin: 0px;
  }
  .box-title {
    font-size: 15px;
  }
  .box-image {
    width: 95%;
  }
  .customer-feedback {
    width: 160px;
    font-size: 10px;
    border-radius: 8px;
    border: 4px solid rgb(176, 176, 176);
    padding: 12px 20px 20px 12px;
  }
  .testimonial-box {
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }
  .customer-img {
    width: 40%;
  }
}

/* Tablets in Portrait mode */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* Additional styles for tablets in portrait mode */
  .service-box {
    width: 170px;
    height: 146px;
    border-radius: 9px;
    gap: 9px;
    border-width: 1px 5px 5px 1px;
  }

  .boxes-section {
    max-width: 80%;
    margin: 20px auto;
    gap: 10px;
  }
  .service-title {
    font-size: 30px;
    margin: 20px;
  }
  .box-title {
    font-size: 15px;
  }
  .box-image {
    width: 95%;
  }
  .customer-feedback {
    width: 180px;
    font-size: 12px;
    border-radius: 10px;
    border: 8px solid rgb(176, 176, 176);
    padding: 12px 20px 20px 12px;
  }
  .testimonial-box {
    gap: 0px;
    margin: 25px auto;
  }
}

/* Tablets in Landscape mode */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Additional styles for tablets in landscape mode */
  .service-box {
    width: 250px;
    height: 266px;
    border-radius: 11px;
    gap: 12px;
  }

  .boxes-section {
    max-width: 80%;
    margin: 30px auto;
  }
  .service-title {
    font-size: 50px;
    margin: 20px;
  }
  .box-title {
    font-size: 30px;
  }
  .box-image {
    width: 95%;
  }
  .customer-feedback {
    width: 250px;
    font-size: 15px;
    border-radius: 12px;
    border: 9px solid rgb(176, 176, 176);
    padding: 16px 42px 42px 16px;
  }
  .testimonial-box {
    gap: 0px;
  }
}

/* Small Laptops */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  /* Additional styles for small laptops */
  .service-box {
    width: 350px;
    height: 356px;
    border-radius: 13px;
    gap: 15px;
  }

  .boxes-section {
    max-width: 80%;
  }
  .service-title {
    font-size: 60px;
  }
  .box-title {
    font-size: 40px;
  }
  .box-image {
    width: 95%;
  }
  .customer-feedback {
    width: 350px;
    font-size: 20px;

    border-radius: 14px;

    border: 9px solidrgb(176, 176, 176);
    padding: 18px 46px 46px 18px;
  }
  .testimonial-box {
    gap: 0px;
  }
  .customer-img {
    width: 40%;
  }
}

/* Medium Laptops */
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  /* Additional styles for medium laptops */
}

/* Large Laptops */
@media only screen and (min-width: 1441px) and (max-width: 1600px) {
  /* Additional styles for large laptops */
}

/* Standard Desktop Screens */
@media only screen and (min-width: 1601px) and (max-width: 1920px) {
  /* Additional styles for standard desktop screens */
}

/* Large Desktop Screens */
@media only screen and (min-width: 1921px) and (max-width: 2560px) {
  /* Additional styles for large desktop screens */
}

/* Ultra-Wide Screens */
@media only screen and (min-width: 2561px) {
  /* Additional styles for ultra-wide screens */
}
