@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap");
.academics {
  padding: 0 2rem;
  margin: 1rem auto;

}
.academics a {
  text-align: center;
  color: #000000;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-bottom: 8rem;
  display: block;
}
.academics a span {
  color: rgba(73, 179, 255, 1);
  margin: 0 0.1rem;
}
.academics h3 {
  color: rgba(73, 179, 255, 1);
  font-size: 1.7rem;
  font-family: 'Times New Roman', Times, serif;

  text-align: center;
}
.academics > p {
  text-align: center;
  width: 90%;
  margin: 1rem auto;
  font-size: 2rem;
  line-height: 1.4;
  font-family: "Judson", serif;
}
.profile {
  max-width: 1280px;
  margin: 3rem auto;
 
  text-align: center;
}
.profile > h2 {
  color: rgba(73, 179, 255, 1);
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 1rem;
}

.product--image {
  width: 60%;
  border: 2px solid darkblue;
  padding: 5px;
  object-fit: cover;
  border-radius: 50%;
}

.faculty-card {
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto 1rem;
  padding: 2rem 0 0 0;
  text-align: center;
  border-radius: 20px;
  font-family: 'Times New Roman', Times, serif;
}
.profile-details {
  margin: 0.5rem auto 0 auto ;
  display: flex;
  gap: 0.6rem;
  flex-direction: column;
  background-color:#64beff;
  padding: 1.5rem;
  border-radius: 0px 0px 20px 20px;
}

.price{
  color: darkblue;
  font-size: 1.2rem;
}

.profile-name{
  color:black;
  font-family: 'Times New Roman', Times, serif;
  

}

.react-multi-carousel-list{
 
  margin: 5rem auto 1rem auto ;
}

.react-multi-carousel-track{
  justify-content: center;
  align-items: center;
}



@media (max-width: 820px) {
  .academics p {
    font-size: 1rem;
    width: 90%;
  }
  .academics a {
    font-size: 0.8rem;
    margin-bottom: 4.5rem;
  }
  .academics h3 {
    margin-left: 0;
    text-align: center;
  }
}
@media (max-width:425px){
  .faculty-card{
    margin: 0 ;
  }
}
